In [126]:
import pandas as pd
# load the data
from sqlalchemy import create_engine
user = 'root'
password = 'password'
host = 'localhost'
database = 'movie'
engine = create_engine(f'mysql://{user}:{password}@{host}/{database}')

# read data from DB
ratings_data = pd.read_sql_query("SELECT * FROM ratings", engine)
movies_data = pd.read_sql_query("SELECT * FROM movies", engine)
predictions = pd.read_sql_query("SELECT * FROM predictions", engine)
new_ratings = pd.read_sql_query("SELECT * FROM new_user_rating", engine)
user = pd.read_sql_query("SELECT * FROM users_db", engine)

In [129]:
user[user["username"]==str(3)]

   username password
13        3        3
14        3        3

In [109]:
user_prediction = predictions[predictions.userId == int(1)]
user_prediction = user_prediction.sort_values(by="prediction", ascending=False)
choice = user_prediction[:5]

In [110]:
ratings_data.rename(columns={"user_id": "userId", "item_id":"movieId"}, inplace=True)

In [111]:
choice.reset_index(drop=True, inplace=True )

In [112]:
import numpy as np
df = pd.merge(choice[["userId", "movieId"]], new_ratings[["userId", "movieId", "title"]], on=["userId", "movieId"], how='left', indicator='Exist')
df['Exist'] = np.where(df.Exist == 'both', True, False)
for i in range(0,len(df)):
    if df.iloc[i]["Exist"]==True:
        print(df.iloc[i]["title"], "is already rated")

Monty Python's Life of Brian (1979) is already rated
Rear Window (1954) is already rated
2001: A Space Odyssey (1968) is already rated
Shawshank Redemption, The (1994) is already rated
High Noon (1952) is already rated