In [1]:
import pandas._libs.interval
import pandas as pd

In [44]:
user_db = pd.read_csv("../data/user_db.csv")

In [40]:
final_db = user_db = pd.read_csv("../data/final_db.csv")

In [45]:
user_db.columns

Index(['userId', 'password'], dtype='object')

In [46]:
password = user_db[user_db["userId"] == 1]["password"].values

In [47]:
if not password:
    print("failed")

In [43]:
final_db[final_db["userId"]==1]

,userId,title,movieId,rating,loc_clusters_users,loc_clusters_movies
103,1,Up Close and Personal (1996),140,4.0,7,16
107,1,"Usual Suspects, The (1995)",50,5.0,7,16
108,1,Mrs. Doubtfire (1993),500,1.0,7,16
109,1,Mrs. Doubtfire (1993),500,1.0,7,16
112,1,2001: A Space Odyssey (1968),924,3.5,17,16
...,...,...,...,...,...,...
282,1,"Witches, The (1990)",7045,3.5,23,16
283,1,"Wizard of Oz, The (1939)",919,3.5,17,16
284,1,X2: X-Men United (2003),6333,4.0,23,16
285,1,Yojimbo (1961),3030,3.0,24,16
286,1,Young Frankenstein (1974),1278,4.0,17,16