In [56]:
import pandas as pd
import pickle
import numpy as np
from collections import Counter

In [3]:
refined_dataset = pd.read_csv("../data/refined_dataset.csv")

In [4]:
refined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           150001 non-null  int64
 1   userId               150001 non-null  int64
 2   title                150001 non-null  object
 3   movieId              150001 non-null  int64
 4   rating               150001 non-null  float64
 5   loc_clusters_users   150001 non-null  int64
 6   loc_clusters_movies  150001 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 8.0+ MB

# Recommender via Movie

In [32]:
#load model
kmeans_movie = pickle.load(open('../models/kmeans_movie.pkl', 'rb'))

In [33]:
df = pd.DataFrame(np.array([[1, 4], [2,5], [994,5]]),
                   columns=['userId', 'rating'])

In [34]:
df

   userId  rating
0       1       4
1       2       5
2     994       5

In [35]:
#predict
cluster_movies = kmeans_movie.predict(df)

In [59]:
input_movie = input("Enter a movieID: ")
input_movie = int(input_movie)
cluster_movies = refined_dataset.loc[refined_dataset['movieId'] == input_movie, 'loc_clusters_movies']
print(cluster_movies.value_counts())
cluster_movies = Counter(cluster_movies).most_common(1)[0] # 4, 6 times
print(cluster_movies)
cluster_movies[0]

Enter a movieID:  994

4    8
7    7
5    6
3    4
9    3
6    3
2    3
1    3
8    2
0    2
Name: loc_clusters_movies, dtype: int64
(4, 8)

4

In [70]:
#what should the user see
movies = refined_dataset.loc[refined_dataset['loc_clusters_movies'] == cluster_movies[0], 'movieId']
movies
for c in range(5):
    if movies.iloc[c] == input:
        continue
    else:
       movie1 = refined_dataset.loc[refined_dataset['movieId'] == movies.iloc[c]]
       movie1 = movie1['title']
       print(movie1.iloc[1])

Adventures of Priscilla, Queen of the Desert, The (1994)
American Pie (1999)
And the Band Played On (1993)
Apollo 13 (1995)
As Good as It Gets (1997)

# Recommender via Movie

In [64]:
#load model
kmeans_user = pickle.load(open('../models/kmeans_user.pkl', 'rb'))

In [65]:
df = pd.DataFrame(np.array([[994, 3]]),
                   columns=['movieId', 'rating'])

In [66]:
cluster = kmeans_user.predict(df)

In [67]:
input_user = input("Enter a userid: ")
input_user = int(input_user)
cluster_users = refined_dataset.loc[refined_dataset['userId'] == input_user, 'loc_clusters_users']
print(cluster_users.value_counts())
cluster_users = Counter(cluster_users).most_common(1)[0] # 4, 6 times
print(cluster_users)
cluster_users[0]

Enter a userid:  994

9    110
3    100
0     87
2     23
5     20
6     11
8      5
1      2
Name: loc_clusters_users, dtype: int64
(9, 110)

9

In [68]:
users = refined_dataset.loc[refined_dataset['loc_clusters_users'] == cluster_users[0], 'userId']
users
list_movies = []
for c in range(1000):
    if users.iloc[c] == input_user:
        continue
    else:
       movie1 = refined_dataset.loc[refined_dataset['movieId'] == users.iloc[c]]
       movie1 = movie1['title']
       movie1 = movie1.iloc[1]
       list_movies.append(movie1)
uniqueElements = list(set(list_movies))
print(uniqueElements[0:5])

['American President, The (1995)', 'Powder (1995)', 'GoldenEye (1995)', 'Grumpier Old Men (1995)', 'Sudden Death (1995)']